2.2.1. Reading the dataset

In [1]:
import pandas as pd
import numpy as np

In [2]:
index = pd.date_range("1/1/2000", periods=8)
s=pd.Series(np.random.randn(5), index=["a", "b", "c", "d", "e"])
index, s

(DatetimeIndex(['2000-01-01', '2000-01-02', '2000-01-03', '2000-01-04',
                '2000-01-05', '2000-01-06', '2000-01-07', '2000-01-08'],
               dtype='datetime64[ns]', freq='D'),
 a   -0.443834
 b   -0.403672
 c    1.313529
 d   -2.068749
 e    0.492680
 dtype: float64)

In [3]:
df = pd.DataFrame(np.random.randn(8, 3), index=index, columns=["A", "B", "C"])

In [4]:
df

                   A         B         C
2000-01-01 -0.755048 -1.071601  0.955955
2000-01-02  0.788434  0.519427 -0.781655
2000-01-03  0.127962 -1.553323  0.084745
2000-01-04  0.309068 -0.065274  0.745286
2000-01-05  0.979263 -1.997909 -0.354807
2000-01-06 -0.502735  0.655013 -0.325583
2000-01-07 -1.324891 -1.104164  1.055749
2000-01-08  0.349803 -0.902025 -1.121367

In [5]:
 long_series = pd.Series(np.random.randn(1000))

In [6]:
long_series.head()

0   -0.443038
1   -0.358525
2   -1.262142
3   -2.326022
4    0.256041
dtype: float64

In [7]:
long_series.tail()

995   -1.127688
996   -0.660931
997   -1.885088
998    0.087321
999    1.382330
dtype: float64

In [8]:
long_series.shape,df.shape

((1000,), (8, 3))

In [9]:
df[1:2], df[:2]

(                   A         B         C
 2000-01-02  0.788434  0.519427 -0.781655,
                    A         B         C
 2000-01-01 -0.755048 -1.071601  0.955955
 2000-01-02  0.788434  0.519427 -0.781655)

In [13]:
df.columns = [x.lower() for x in df.columns]
df.loc[:1, 1:2] = 1.1
df

<ipython-input-13-d61cf7f09766>:2: FutureWarning: Slicing a positional slice with .loc is not supported, and will raise TypeError in a future version.  Use .loc with labels or .iloc with positions instead.
  df.loc[:1, 1:2] = 1.1

                   a    b         c
2000-01-01 -0.755048  1.1  0.955955
2000-01-02  0.788434  NaN -0.781655
2000-01-03  0.127962  NaN  0.084745
2000-01-04  0.309068  NaN  0.745286
2000-01-05  0.979263  NaN -0.354807
2000-01-06 -0.502735  NaN -0.325583
2000-01-07 -1.324891  NaN  1.055749
2000-01-08  0.349803  NaN -1.121367

In [14]:
inputs, outputs = df.iloc[:, 0:2], df.iloc[:, 2]
inputs = inputs.fillna(inputs.mean())
print(inputs)

                   a    b
2000-01-01 -0.755048  1.1
2000-01-02  0.788434  NaN
2000-01-03  0.127962  NaN
2000-01-04  0.309068  NaN
2000-01-05  0.979263  NaN
2000-01-06 -0.502735  NaN
2000-01-07 -1.324891  NaN
2000-01-08  0.349803  NaN

In [15]:
inputs = pd.get_dummies(inputs, dummy_na=True)
print(inputs)

                   a  b_1.1  b_NaN  b_nan
2000-01-01 -0.755048      1      0      0
2000-01-02  0.788434      0      1      0
2000-01-03  0.127962      0      1      0
2000-01-04  0.309068      0      1      0
2000-01-05  0.979263      0      1      0
2000-01-06 -0.502735      0      1      0
2000-01-07 -1.324891      0      1      0
2000-01-08  0.349803      0      1      0

In [16]:
from mxnet import np as npx
X,y = np.array(inputs.values), np.array(outputs.values)
X,y

(array([[-0.75504776,  1.        ,  0.        ,  0.        ],
        [ 0.78843358,  0.        ,  1.        ,  0.        ],
        [ 0.12796204,  0.        ,  1.        ,  0.        ],
        [ 0.30906751,  0.        ,  1.        ,  0.        ],
        [ 0.97926335,  0.        ,  1.        ,  0.        ],
        [-0.50273462,  0.        ,  1.        ,  0.        ],
        [-1.32489121,  0.        ,  1.        ,  0.        ],
        [ 0.34980342,  0.        ,  1.        ,  0.        ]]),
 array([ 0.9559552 , -0.78165547,  0.08474538,  0.74528566, -0.35480669,
        -0.3255827 ,  1.05574935, -1.12136713]))